
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    font-weight: bold;
    height: 250px;
    cursor: pointer;
    transition: 150ms;
    transform: perspective(1000px) rotateX(var(--rotate-X, 0))
}

.card:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip{
    --rotate-X: 180deg;
}

.card .front, .card .back{
    position: absolute;
    padding: 5px;
    justify-content: center;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateX(180deg);
}

.image {
    width: 300px;
    height: 200px;
    align-items: center;
  }

#easy {
   /* background-color: green;
    opacity: 0.7;*/
    background-color: rgba(167, 234, 174, 0.75);
}

#medium {
    background-color:rgba(232, 223, 141, 0.75);
}

#hard{
    background-color:rgba(222, 96, 98, 0.75);;
}
 
p {
 font-size: 25px;
}